@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 10rem;
    margin: 1rem 4rem;
}
.title{
    color: #CF2D2D;
}
.nav-items{
    display: flex;
    gap: 2rem;
}
.categories-btn{
    background-color: black;
    color: white;
    padding: 0 0.55rem;
    border-radius: 0.3rem;
    border: none;   
}
.icons{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.categories-icon{height: 25px; width: 15px;}
.search{ position: relative;}
.search-bar{
    width: 500px;
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.35rem;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: gray;
    cursor: pointer;
  }
.favourites{
    color: #989090;
    font-size: 0.9rem; 
}  
.sign-in-btn{
    padding: 0.5rem 0.75rem;
    border: 1px solid #B0BABF;
    border-radius: 0.35rem;
    background-color: white;
    color: #989090;
}
.events{
    display: flex;
    margin: 1rem 4rem;
    color: #989090;
    font-size: 0.85rem;
}
.events .location{
    flex-grow: 0.4;
}
.event-types{
    display: flex; 
    gap: 3rem;
}
.event-types li{list-style-type: none;}
.about-us{
    position: relative;
    overflow-x: hidden;
}
.banner-text{
    position: absolute; 
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
}
.banner-text h1{
    font-size: 3.5rem;
    line-height: 6rem;
    font-optical-sizing: auto;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}
.banner-text p{
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    width: 85%;
    margin-left: 4rem;
}
.show-container{
    position: absolute;
    top: 90%;
    transform: translate(10%,50%);
    color: white;
    overflow-x: hidden;
}
.show-container h2{
    margin-bottom: 2rem;
    font-weight: 500;
}
.wrapper{
    display: flex;
    gap: 0.5rem;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.show-data{
    position: relative;
    color: white;
}
.show-image{
    background-size:cover;
    height: 350px;
    width: 290px;
    border: 1px solid #B0BABF;
    border-radius: 1rem;
}
.show-details{
    width: 250px;
    position: absolute;
    top: 50%;
    transform: translate(6%,100%);
    padding: 0.6rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 25px 15px;
    row-gap: 0.5rem;
    color:  #dfcbcb;
    font-size: 0.7rem;
}
.show-details .event-name{
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}
.show-details .show-date{
    font-size: 0.7rem;
    font-weight: 600;
}
.show-details .show-location{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.show-details .show-weather-and-distance{
    font-size: 0.65rem;
}
.upcoming_events{
    margin-top: 15rem;
}
.events_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1rem;
    place-items: center;
}
.event-data{
    border: 1px solid #B0BABF;
    width: 250px;
}
.event-image{
    position: relative;
}
.event-date{
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(6%,100%);
}