.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.title{
    color: #CF2D2D;
}
.categories-btn{
    background-color: black;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.3rem;
    border: none;
}
.categories-btn img{
    width: 70px;
    height: 40px;
}
.searchbar{
    width: 30%;
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.35rem;
}
.sign-in-btn{
    padding: 0.5rem 0.75rem;
    border: 1px solid lightgray;
    border-radius: 0.35rem;
    background-color: white;
}